{% extends "main.html" %}
{% load static %}

{% block title %}docs{% endblock %}

{% block content %}<br>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-1" data-toggle="tab">Changes</a></li>
                    <li><a href="#tab-2" data-toggle="tab">API</a></li>
                    <li><a href="#tab-3" data-toggle="tab">tab3</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab-1">
                        <p><h4>26-05-2015</h4>
                        <ul>
                            <li>Great API changes :</li>
                            <li>moved from app to the project level</li>
                            <li>shift entity added</li>
                            <li>office lookup added</li>
                        </ul>
                        
                        <p><h4>25-05-2015</h4>
                        <ul>
                            <li>New representation of the task page (inherited from main template)</li>
                            <li>Spoiler and formating added (task page)</li>
                        </ul>

                        </p>
                        <h4>Last important chaches</h4>
                        <ul>
                            <li>Open converted time-zone in the new tab	</li>
                            <li>make search form user-friendly (add notes/etc)</li>
                            <li>smaller rows	redesign tables</li>
                            <li>'UTC' timezone as a city (timezones tab)</li>
                        </ul>                                       
                    </div>
                    <div class="tab-pane fade " id="tab-2">
                        
                        <p><br>http://yourdomain.com/api/$version/$entity/$format & $filtering<br><br>
                            
                        api version = v1<br>
                        entity = all  or  shift<br>
                        format = ?format=json or ?format=xml<br>
                        lookup(filtering) = &office=1..3  or &all__contains=update<br><br>                        
                        Examples:</p><br>
                        
                        <a href="http://tasks-215255.euw1.nitrousbox.com/api/v1/all/?format=json">/all/?format=json</a><br>
                        <a href="http://tasks-215255.euw1.nitrousbox.com/api/v1/all/?format=json&all__contains=update">/all/?format=json&all__contains=update</a><br><br>
                        <a href="http://tasks-215255.euw1.nitrousbox.com/api/v1/shift/?format=json">/shift/?format=json</a><br>
                        <a href="http://tasks-215255.euw1.nitrousbox.com/api/v1/shift/?format=json&office=2">/shift/?format=json&office=2</a><br>
                    </div>
                    <div class="tab-pane fade" id="tab-3">
                        <p>text3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
