{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Main{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href={% static "css/justified-nav.css" %} rel="stylesheet" />
  <link href={% static "css/base.css" %} rel="stylesheet" />
  <link href='//fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

{% block additional_js %}
{% endblock %}
</head>

<body>
<div class="container-fluid">
    {% block menubar %}
      <div class="masthead">
        <h3 class="text-muted">Scheduler 2.0
            <small>{{ user }}</small><span id="user" class="glyphicon glyphicon-user"></span>
        </h3>
        <nav>
          <ul class="nav nav-justified">
            <li {% if active == "Home" %} class="active" {% endif %}><a href="/">Home</a></li>
            <li {% if active == "Shift" %} class="active" {% endif %}><a href="/tasks/shift">Shift</a></li>
            <li {% if active == "Month" %} class="active" {% endif %}><a href="/tasks/month">This month</a></li>
            <li {% if active == "Tasks" %} class="active" {% endif %}><a href="/tasks/new">New tasks</a></li>
            <li {% if active == "Search" %} class="active" {% endif %}><a href="/tasks/search">Search</a></li>
            <li {% if active == "Add" %} class="active" {% endif %}><a href="/tasks/addtask">Add task</a></li>
            <li {% if active == "Zones" %} class="active" {% endif %}><a href="/tz/main">Timezones</a></li>
          </ul>
        </nav>
      </div>
      <br/>
{% endblock %}

{% block content %}
{% if near_task %}
    <ul class="text-center">
    <iframe src="http://free.timeanddate.com/countdown/i4mcooym/n367/cf12/cm0/cu4/ct0/cs0/ca0/co1/cr0/ss0/cac000/cpc000/pcfff/tcfff/fn2/fs120/szw576/szh243/tatNearest%20task%20in/tac000/tptTime%20since%20Event%20started%20in/tpc000/iso{{ near_task.date|date:"Y-m-d" }}T{{ near_task.date|date:"H:i" }}:00" allowTransparency="true" frameborder="0" width="219" height="99"></iframe>
    </ul>
<div class="neartask-area">
    Customer: {{ near_task.customer }}</br>{{ near_task.task }}</br><a href="/tasks/get/{{ near_task.id }}/">Go to task</a></br>
</div>
{% else %}
    <div class="alert alert-danger" role="alert">
        There are no tasks. Please add a new one.
    </div>
{% endif%}

{% endblock %}


<br><br>
    <footer class="footer">
    <p>&copy; PortaOne {{ year }}</p>
        <a href="mailto:dezz.ua@gmail.com">Contact author</a></br>
        <a href="https://wiki.portaone.com/display/~apalii/Scheduler+2.0" target=_blank>Wiki</a></br>
        <a href="/docs" target=_blank>Docs</a></br>
        <a href="/tasks/old">Archive</a></br>
    </footer>
</div>

</body>
</html>

